<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>布局-左侧固定/右侧自动</title>
		<link href="../css/public.css" rel="stylesheet" type="text/css" />
		<link href="../css/layout.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="parent">
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
		</div>
	</body>

</html>
