<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>布局-左侧固定/右侧自动</title>
		<link href="../css/public.css" rel="stylesheet" type="text/css" />
		<link href="layouts.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div class="parent container">
			<div class="child_left">
				左侧固定
			</div>
			<div class="child_right">
				右侧自适应
			</div>
			<img src="../images/layout/layout1.png">
		</div>

		<div class="parent1 container">
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<div class="child">
				<div>等分布局</div>
			</div>
			<img src="../images/layout/layout2.png" />
		</div>
		<div style="display: none;">
			<a href="http://blog.csdn.net/bingkingboy/article/details/51116498">参考（HTML与CSS布局技巧总结）</a>
		</div>
	</body>

</html>